@keyframes colorChange {
  0% { background-color:#ffb0b7; } 
  33% { background-color: #ebc3ff; }
  66% { background-color: #ffdac1; }
  100% { background-color: #ffb0b7; }
}

body {
  animation: colorChange 15s infinite;
  background-color: #ff9aa2;
}

#root {
  max-width: 95vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
}

.link {
  background-color: #e043b9;
  padding: 0.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.link:hover {
  background-color: #ff6f61;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.animal-card {
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  border: 1px solid #e043b9;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  background-color: white;
}

.animal-card:hover {
  transform: scale(1.01);  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.left-card {
  width: 50%
}

.right-card {
  width: 50%;
}

span {
  display: flex;
  justify-content: space-between;
}

.animal-card-text {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
  justify-content: center;
}

.tag {
  background-color: #6fe0ff;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.profilePic {
  width: 25vw;
  height: 40vh;
}

.animal-feed-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.animal-card-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters {
  display: flex;
  font-size: 1vw;
  flex-direction: column;
  align-content: center;
  height: 50vh;
  width: 15%;
  border-radius: 20px;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-animal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-Adopt-Button {
  background-color: white;
  border-color: black;

}